<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="robots" content="noindex, nofollow">
  <title>{% block title %}{% endblock %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% load static %}
  <link rel="icon" href="{% static 'core/img/favicon.ico' %}" type="image/x-icon">
  <link rel="apple-touch-icon" href="{% static 'core/img/apple-touch-icon.png' %}">
  <link rel="stylesheet" href="{% static 'core/css/base.css' %}">
  {% block styles %}
  {% endblock %}
</head>
<body>
  {% block header %}
  {% endblock %}
  {% block content %}
  {% endblock %}
  {% block body_scripts %}
  {% endblock %}
</body>
</html>
